@model BookStore.Models.Publisher

@{
    ViewData["Title"] = "Insert";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<!-- Toastr -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
@if (ViewBag.Message != null)
{
    <script>
        toastr.success('@ViewBag.Message');
    </script>
}
<!-- End Toastr -->

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Nhà xuất bản</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item"><a asp-action="List">Nhà xuất bản</a></li>
                <li class="breadcrumb-item active">Thêm Nhà xuất bản</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Thêm nhà xuất bản</h5>
                        @using (Html.BeginForm("Insert", "PublisherManage", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group col-sm-2 col-form-label">
                                <label>Tên nhà xuất bản</label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-sm-2 col-form-label">
                                <label>Email</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-sm-2 col-form-label">
                                <label>Số điện thoại</label>
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-sm-2 col-form-label">
                                <label>Địa chỉ</label>
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-sm-2 col-form-label">
                                <label>Trạng thái</label>
                                @Html.DropDownListFor(m => m.Status, new List<SelectListItem> { new SelectListItem { Text = "Đã kích hoạt", Value = "Active" }, new SelectListItem { Text = "Chưa kích hoạt", Value = "Inactive" } }, "-- Chọn trạng thái --", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
                            </div>

                            <br>
                            <button type="submit" class="btn btn-primary">Thêm nhà xuất bản</button>
                            <a asp-action="List" class="btn btn-secondary">Quay lại</a>
                        }
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
